<footer>
    <div class="p-10 bg-gray-900 text-white">
        <div class="max-w-7xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
                <div class="mb-5">
                    <a routerLink="">
                    <h4 class="text-2xl pb-4 font-bold">Amazing</h4>
                    </a>
                    <p class=" text-gray-500 ">
                        Calle 4ta entre calles 5ta y 6ta. Centro. <br>
                        Guayaquil 090905 <br>
                        Ecuador <br><br>
                        <strong>Telefono: </strong>0987654321 <br>
                        <strong>Email: </strong> info@amazing.com <br>
                    </p>
                </div>
                <div class="mb-5">
                    <h4 class="pb-4 font-semibold">Categorías</h4>
                    <ul class=" text-gray-500">
                        <li class="pb-4"><i class=" fa fa-chevron-right text-indigo-500"></i><a href="#"
                                class="hover:text-indigo-500"> Blusas</a></li>
                        <li class="pb-4"><i class=" fa fa-chevron-right text-indigo-500"></i><a href="#"
                                class="hover:text-indigo-500"> Chaquetas</a></li>
                        <li class="pb-4"><i class=" fa fa-chevron-right text-indigo-500"></i><a href="#"
                                class="hover:text-indigo-500"> Zapatos</a></li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="pb-4 font-semibold">Atención al Cliennte</h4>
                    <ul class=" text-gray-500">
                        <li class="pb-4"><i class=" fa fa-chevron-right text-indigo-500"></i><a routerLink="/FAQ"
                                class="hover:text-indigo-500"> Preguntas Frecuentes</a></li>
                        <li class="pb-4"><i class=" fa fa-chevron-right text-indigo-500"></i><a
                                routerLink="/Contactanos" class="hover:text-indigo-500"> Contacto</a></li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="pb-4 font-semibold">Sobre nosotros</h4>
                    <p class=" text-gray-500 pb-2 ">Somos una empresa dedicada al comercio online donde le ofrecemos al
                        público ropa de calidad y a
                        la moda. Aquí podrás encontrar todo tipo de ropa, accesorios, zapatos, complementos, etc.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full bg-gray-900 text-gray-500 px-10">
        <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-between items-center">
            <div class="text-center">
                <div>
                    Copyright <strong><span>Grupo #6</span></strong> © 2022 Amazing. Todos los derechos reservados.
                </div>
                <div>
                    Diseñado con <a href="https://angular.io/" class="text-indigo-500">Angular</a>
                </div>
            </div>
            <div class="tex-ceter text-xl text-white mb-2">
                <a href="#" class="w-10 h-10 rounded-full bg-indigo-500 hover:bg-indigo-600 mx-1 inline-block pt-1"><i
                        class="fa-brands fa-youtube ml-2"></i></a>
                <a href="#" class="w-10 h-10 rounded-full bg-indigo-500 hover:bg-indigo-600 mx-1 inline-block pt-1"><i
                        class="fa-brands fa-facebook ml-2.5"></i></a>
                <a href="#" class="w-10 h-10 rounded-full bg-indigo-500 hover:bg-indigo-600 mx-1 inline-block pt-1"><i
                        class="fa-brands fa-instagram ml-3"></i></a>
            </div>
        </div>
    </div>
</footer>