#backgrounds {
  width: 100vw;
  height: 99vh;
  position: relative;
  background-size: cover;
}

.containers {
  font-family: "Roboto Slab", serif;
  background-color: rgba(255, 255, 255, 0.767);
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 55%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  border-radius: 10px;
}
.imagen {
  width: 100%;
  height: 99vh;
}

.titulo {
  font-size: 3vw;
  font-family: "Roboto Slab", serif;
  margin-top: 25px;
}

.descripcion {
  font-size: 2vw;
  font-family: "Roboto Slab", serif;
  margin-top: 2%;
  text-align: center;
}

.texto {
  background-color: rgba(0, 0, 0, 0.251);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 0px 10px;
}

.valores {
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 2vh;
  width: 95vw;
  margin: 5vh auto;
  display: block;
  padding: 1vh;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.582);
}

.ulistaValores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.icon {
  width: 6vh;
  height: 6vh;
  margin: 0 auto;
}

.liconos {
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-transform: uppercase;
}

/*Responsive div valores*/
@media (max-width: 915px) {
  .valores {
    width: 90vw;
  }

  .ulistaValores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .icon {
    width: 5vh;
    height: 5vh;
  }

  .liconos {
    font-size: 1.5vw;
  }

    .descripcion {
        font-size: 1.5vw;
    }

    .titulo {
        font-size: 2.5vw;
    }

    .imagen {
        height: 30vh;
    }

    #backgrounds {
        height: 30vh;
    }

    .containers {
        font-size: 5vw;
    }

    .texto {
        width: 90vw;
    }
}
