<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">

    <!-- inicio botones de navegacion -->
    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
    </div>
    <!-- fin botones de navegacion -->

    <!-- inicio de sldier de imagenes -->
    <div class="carousel-inner relative w-full overflow-hidden">
        <div class="carousel-item active relative float-left w-full">
            <img id="backgrounds"
                src="https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                class="imagen" alt="..." />
            <div>
                <h5 class="containers">AMAZING</h5>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full">
            <img class="imagen"
                src="https://images.unsplash.com/photo-1620906750272-747a93309812?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"
                alt="..." />
            <div class="carousel-caption hidden md:block absolute text-center texto">
                <h5 class="titulo">Chaqueta de Cuero</h5>
                <p class="descripcion">Chaqueta de cuero negra con estilo rockero para damas</p>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full">
            <img class="imagen"
                src="https://images.unsplash.com/photo-1503342331296-c8ca3b8dd0a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="..." />
            <div class="carousel-caption hidden md:block absolute text-center texto">
                <h5 class="titulo">Blusa Negra</h5>
                <p class="descripcion">Blusa holgada con diseño de calavera</p>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full">
            <img class="imagen"
                src="https://images.unsplash.com/photo-1503341338985-c0477be52513?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="..." />
            <div class="carousel-caption hidden md:block absolute text-center texto">
                <h5 class="titulo">Camiseta Negra</h5>
                <p class="descripcion">Camiseta negra con diseño de calavera</p>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full">
            <img src="https://images.unsplash.com/photo-1580657018950-c7f7d6a6d990?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                class="imagen" alt="..." />
            <div class="carousel-caption hidden md:block absolute text-center texto">
                <h5 class="titulo">Trajes Formales</h5>
                <p class="descripcion">Diseño elegante y clásico para vestir a la ocasión</p>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full">
            <img src="https://laopinion.com/wp-content/uploads/sites/3/2020/10/shutterstock_1121151740.jpg?quality=60&strip=all&w=1200"
                class="imagen" alt="..." />
            <div class="carousel-caption hidden md:block absolute text-center texto">
                <h5 class="titulo">Zapatos Deportivos</h5>
                <p class="descripcion">Diseño cómodo para realizar deportes</p>
            </div>
        </div>
    </div>
    <!-- fin de sldier de imagenes -->

    <!-- inicio botones next y prev -->
    <button
        class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
        type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
        type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <!-- inicio botones next y prev -->
</div>