<div class="container">
    <div class="row">
        <div class="container-faq">
            <div class="title-faq">
                <h3>Preguntas Frecuentes</h3>
            </div>

            <div class="item-faq">
                <div class="question">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit ? <span>Q</span></h3>
                    <div class="more"><i>+</i></div>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores repellat vitae tenetur eos doloremque. Tempora sed ut consequatur laboriosam sit mollitia beatae error, omnis deleniti, earum eius odit. Doloribus, nesciunt.<span>A</span></p>
                </div>
            </div>

            <div class="item-faq">
                <div class="question">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit ? <span>Q</span></h3>
                    <div class="more"><i>+</i></div>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores repellat vitae tenetur eos doloremque. Tempora sed ut consequatur laboriosam sit mollitia beatae error, omnis deleniti, earum eius odit. Doloribus, nesciunt.<span>A</span></p>
                </div>
            </div>

            <div class="item-faq">
                <div class="question">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit ? <span>Q</span></h3>
                    <div class="more"><i>+</i></div>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores repellat vitae tenetur eos doloremque. Tempora sed ut consequatur laboriosam sit mollitia beatae error, omnis deleniti, earum eius odit. Doloribus, nesciunt.<span>A</span></p>
                </div>
            </div>

            <div class="item-faq">
                <div class="question">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit ? <span>Q</span></h3>
                    <div class="more"><i>+</i></div>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores repellat vitae tenetur eos doloremque. Tempora sed ut consequatur laboriosam sit mollitia beatae error, omnis deleniti, earum eius odit. Doloribus, nesciunt.<span>A</span></p>
                </div>
            </div>

            <div class="item-faq">
                <div class="question">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit ? <span>Q</span></h3>
                    <div class="more"><i>+</i></div>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores repellat vitae tenetur eos doloremque. Tempora sed ut consequatur laboriosam sit mollitia beatae error, omnis deleniti, earum eius odit. Doloribus, nesciunt.<span>A</span></p>
                </div>
            </div>

        </div>
    </div>
</div>
