<!-- add header -->
<app-header></app-header>
<!-- component -->
<div class="bg-indigo-400 pt-20 pb-20">
    <div class="mx-auto max-w-6xl">
        <div class="p-2 bg-gray-100 rounded">
            <div class="flex flex-col md:flex-row">
                <div class="md:w-1/3 p-4 text-sm">
                    <div class="text-3xl font-medium mb-5 ">Preguntas <span class="font-medium">Frecuentes</span></div>

                    <div class="mb-2">Tienes dudas acerca del pago y el envío de nuestros productos?</div>
                    <div class="text-xs font-bold text-gray-600">Para más información, consulte nuestras preguntas
                        frecuentes.</div>
                </div>
                <div class="md:w-2/3">
                    <div class="p-4">
                        <div class="mb-2">
                            <div
                                class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                <!-- abrir opciones -->
                                <details
                                    class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                    <summary class="text-lm font-semibold text-black">¿Cuanto cuesta el envío?
                                    </summary>
                                    <p class="text-black font-normal text-base">Dependiendo de la localización, el
                                        precio del envío
                                        puede variar. Mientras mas lejo viva, mayor será el envío.</p>
                                </details>
                                <!-- -- -->
                            </div>
                        </div>
                        <div class="mb-2">
                            <div
                                class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                <!-- abrir opciones -->
                                <details
                                    class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                    <summary class="text-lm font-semibold text-black">¿Cuánto tarda el envío?
                                    </summary>
                                    <p class="text-black font-normal text-base">Para envíos dentro del pais de 7 a 10
                                        dias laborables
                                        despues de la confirmación del pago. Si el envío es internacional, dependerá de
                                        la localización
                                        del destinatario.</p>
                                </details>
                                <!-- -- -->
                            </div>
                        </div>
                        <div class="mb-2">
                            <div
                                class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                <!-- abrir opciones -->
                                <details
                                    class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                    <summary class="text-lm font-semibold text-black">¿Cómo puedo consultar el estado de
                                        mi pedido?
                                    </summary>
                                    <p class="text-black font-normal text-base">Se le notificará el estado de su pedido
                                        por medio de mensaje de texto.
                                        Adicionalmente, podrá consultar el estado de su pedido en la sección de “Mis
                                        Pedidos”.
                                    </p>
                                </details>
                                <!-- -- -->
                            </div>
                        </div>

                        <div class="mb-2">
                            <div
                                class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                <!-- abrir opciones -->
                                <details
                                    class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                    <summary class="text-lm font-semibold text-black">¿Se permiten devoluciones?
                                    </summary>
                                    <p class="text-black font-normal text-base">Por supuesto, siempre y cuando el
                                        producto se encuentre en
                                        buen estado y no haya sido usado. Las devoluciones serán aceptadas hasta un
                                        máximo de 30 días.
                                    </p>
                                </details>
                                <!-- -- -->
                            </div>

                            <div class="mb-2">
                                <div
                                    class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                    <!-- abrir opciones -->
                                    <details
                                        class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                        <summary class="text-lm font-semibold text-black">¿De qué garantía dispongo en
                                            relación con los productos?
                                        </summary>
                                        <p class="text-black font-normal text-base">Todos los productos que sean
                                            fabricados por nosotros,
                                            cuentan con una garantía de 30 días.
                                        </p>
                                    </details>
                                    <!-- -- -->
                                </div>

                                <div class="mb-2">
                                    <div
                                        class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                        <!-- abrir opciones -->
                                        <details
                                            class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                            <summary class="text-lm font-semibold text-black">¿Dónde puedo comprar
                                                físicamente productos Amazing?
                                            </summary>
                                            <p class="text-black font-normal text-base">Para comprar físicamente los
                                                productos
                                                Amazing, deberá
                                                contactarnos a través de nuestro formulario de contacto.
                                            </p>
                                        </details>
                                        <!-- -- -->
                                    </div>

                                </div>
                                <div class="mb-2">
                                    <div
                                        class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                        <!-- abrir opciones -->
                                        <details
                                            class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                            <summary class="text-lm font-semibold text-black">¿Puedo cancelar mi pedido?
                                            </summary>
                                            <p class="text-black font-normal text-base">Puede cancelar su pedido en
                                                cualquier
                                                momento, sin costo.
                                                Para ello, debe comunicarse con nosotros a través de nuestro correo
                                                electronico
                                                o en la sección de contactanos en nuestra página web.
                                            </p>
                                        </details>
                                        <!-- -- -->
                                    </div>

                                    <div class="mb-2">
                                        <div
                                            class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                            <!-- abrir opciones -->
                                            <details
                                                class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                                <summary class="text-lm font-semibold text-black">¿Tenéis una atención
                                                    al
                                                    cliente?
                                                </summary>
                                                <p class="text-black font-normal text-base"> Siéntase libre de
                                                    contactarnos a
                                                    través de nuestro correo electronico o
                                                    en la sección de contactanos en nuestra página web.
                                                </p>
                                            </details>
                                            <!-- -- -->
                                        </div>

                                        <div class="mb-2">
                                            <div
                                                class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white">
                                                <!-- abrir opciones -->
                                                <details
                                                    class="relative w-full items-center rounded-md bg-white p-2  font-medium text-gray-500 open:border-none open:bg-white">
                                                    <summary class="text-lm font-semibold text-black">¿Qué hago si me
                                                        llega el
                                                        producto dañado durante el transporte?
                                                    </summary>
                                                    <p class="text-black font-normal text-base"> Si el producto llega
                                                        defectuoso,
                                                        póngase en contacto con nosotros a través de nuestro correo
                                                        electronico
                                                        o
                                                        en la sección de contactanos en nuestra página web.
                                                    </p>
                                                </details>
                                                <!-- -- -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>