<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->

<app-header></app-header>

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="absolute -z-10 scale-x-125 blur-sm p-0 max-w-none  object-cover lg:grid hidden">
    <img src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt="">
</div>
  <div class="lg:px-10 max-w-md w-full space-y-6 bg-gray-100 rounded-xl px-8 py-3 drop-shadow-2xl">
    <div>
      <h1 class="Logo text-4xl">Amazing</h1>

      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Iniciar sesion</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Bienvenido al inicio de sesion
      </p>
    </div>
    <form class="mt-8 space-y-6" [formGroup]="form" (ngSubmit)="ingresar()">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email</label>
          <input formControlName="email" id="email-address" name="email" type="email" autocomplete="email" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email">
        </div>
        <div>
          <label for="password" class="sr-only">Contraseña</label>
          <input formControlName="password" id="password" name="password" type="password" autocomplete="current-password" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Contraseña">
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember-me" name="remember-me" type="checkbox"
            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
          <label for="remember-me" class="ml-2 block text-sm text-gray-900"> Recuérdame </label>
        </div>

        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> ¿Ha olvidado su contraseña? </a>
        </div>
      </div>

      <div>
        <button type="submit"
          class="transition ease-in-out delay-100 hover:scale-100 hover:-translate-y-1 duration-200 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd" />
            </svg>
          </span>
          Iniciar Sesion
        </button>
      </div>
    </form>
    <div>
      <p class="mt-2 text-center text-sm text-gray-600">
        ¿Aún no tienes cuenta? <a routerLink="/Register" class=" text-indigo-500 font-bold">Regístrate</a>
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>