@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.Logo{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    
}
.imglogin{
    width:80px ;
    height: 80px;
    display: block;
    margin: 0px auto;
}

