<div class="mx-auto container flex justify-center items-center py-12 px-4 sm:px-6 2xl:px-0">
    <div class="flex flex-col lg:flex-row justify-center items-center space-y-6 lg:space-y-0">
        <div class="w-80 sm:w-auto flex flex-col justify-start items-start">
            <div>
                <p class="text-3xl xl:text-4xl font-semibold leading-9 text-gray-800">Renueva tu armario</p>
            </div>
            <div class="mt-4 lg:w-4/5 xl:w-3/5">
                <p class="text-base leading-6 text-gray-600">Las mejores chaquetas femeninas a tu disposicion.</p>
            </div>
            <div class="mt-16 w-full">
                <button class="rounded-lg px-4 bg-indigo-500 flex justify-between items-center w-full lg:w-72 h-14 text-white hover:bg-indigo-700 focus:ring-2 outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-800">
                    <p class="text-xl font-medium leading-5">Ver mas</p>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66663 16H25.3333" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M20 21.3333L25.3333 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M20 10.6667L25.3333 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row jusitfy-center items-center sm:space-x-5 xl:space-x-8 space-y-4 sm:space-y-0">
            <div class="">
                <img class="rounded-lg w-80 hidden lg:block" src="https://images.unsplash.com/photo-1536331307320-5316320e97cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=444&q=80" alt="chaqueta1" />
                <img class="rounded-lg w-80 sm:w-60 lg:hidden" src="https://images.unsplash.com/photo-1536331307320-5316320e97cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=444&q=80" alt="chaqueta1" />
            </div>
            <div class="flex flex-col justify-center items-center space-y-4 sm:space-y-0 sm:space-y-5 lg:space-y-5 xl:space-y-8">
                <div>
                    <img class="rounded-lg w-80 hidden lg:block" src="https://images.unsplash.com/photo-1568047422922-ab797aeabfb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="chaqueta2" />
                    <img class="rounded-lg w-80 sm:w-60 lg:hidden" src="https://images.unsplash.com/photo-1568047422922-ab797aeabfb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="chaqueta2" />
                </div>
                <div>
                    <img class="rounded-lg w-80 hidden lg:block" src="https://images.unsplash.com/photo-1550183178-2d2533f821af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1070&q=80" alt="chaqueta3" />
                    <img class="rounded-lg w-80 sm:w-60 lg:hidden" src="https://images.unsplash.com/photo-1550183178-2d2533f821af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1070&q=80" alt="chaqueta3" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="2xl:container 2xl:mx-auto md:py-12 py-9">
    <div class="bg-gray-50 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-8 md:gap-12 gap-14 lg:px-20 lg:py-12 py-10 md:px-12 px-4">
        <!-- Delivery grid Card -->
        <div class="">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.3334 4H1.33337V21.3333H21.3334V4Z" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M21.3334 10.6665H26.6667L30.6667 14.6665V21.3332H21.3334V10.6665Z" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7.33333 28.0002C9.17428 28.0002 10.6667 26.5078 10.6667 24.6668C10.6667 22.8259 9.17428 21.3335 7.33333 21.3335C5.49238 21.3335 4 22.8259 4 24.6668C4 26.5078 5.49238 28.0002 7.33333 28.0002Z" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24.6667 28.0002C26.5077 28.0002 28 26.5078 28 24.6668C28 22.8259 26.5077 21.3335 24.6667 21.3335C22.8258 21.3335 21.3334 22.8259 21.3334 24.6668C21.3334 26.5078 22.8258 28.0002 24.6667 28.0002Z" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <h3 class="text-xl leading-5 font-semibold text-gray-800 lg:mt-10 mt-8">Entregas</h3>
            <p class="text-base leading-6 font-normal text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">Entrega en cualquier parte del mundo</p>
        </div>

        <!-- customer Grid Card -->

        <div class="">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28 20C28 20.7072 27.719 21.3855 27.219 21.8856C26.7189 22.3857 26.0406 22.6667 25.3333 22.6667H9.33333L4 28V6.66667C4 5.95942 4.28095 5.28115 4.78105 4.78105C5.28115 4.28095 5.95942 4 6.66667 4H25.3333C26.0406 4 26.7189 4.28095 27.219 4.78105C27.719 5.28115 28 5.95942 28 6.66667V20Z" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <h3 class="text-xl leading-5 font-semibold text-gray-800 lg:mt-10 mt-8">Realiza tu orden</h3>
            <p class="text-base leading-6 font-normal text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">Disponibles 24/7</p>
        </div>

        <!-- Recycle Grid Card -->

        <div class="">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.6667 1.3335L28.0001 6.66683L22.6667 12.0002" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4 14.6665V11.9998C4 10.5853 4.5619 9.22879 5.5621 8.2286C6.56229 7.22841 7.91885 6.6665 9.33333 6.6665H28" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.33333 30.6667L4 25.3333L9.33333 20" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M28 17.3335V20.0002C28 21.4147 27.4381 22.7712 26.4379 23.7714C25.4377 24.7716 24.0812 25.3335 22.6667 25.3335H4" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <h3 class="text-xl leading-5 font-semibold text-gray-800 lg:mt-10 mt-8">Devoluciones</h3>
            <p class="text-base leading-6 font-normal text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">Si tiene defecto, lo reponemos </p>
        </div>

        <!-- Secure Payment Card -->

        <div class="">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.9999 29.3332C15.9999 29.3332 26.6666 23.9998 26.6666 15.9998V6.6665L15.9999 2.6665L5.33325 6.6665V15.9998C5.33325 23.9998 15.9999 29.3332 15.9999 29.3332Z" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <h3 class="text-xl leading-5 font-semibold text-gray-800 lg:mt-10 mt-8">Pago seguro</h3>
            <p class="text-base leading-6 font-normal text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">Proceso de transsacion encriptado y seguro</p>
        </div>
    </div>
</div>

